name: pre-commit

on:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - uses: pre-commit/action@v2.0.3
      env:
        SKIP: no-commit-to-branch
